@import "bootstrap";
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
h1 {
  font-size: 2rem;
}

.navbar-brand {
  color: #6c7ae0;
  font-weight: bold;
  &:hover {
    color: #5465e4
  }
}

.rushings {
  &__search {
    input {
      &:focus {
        border-color: #6c7ae0;
        outline: none;
        box-shadow: none;
      }
    }
  }

  &__table {
    table-layout: fixed;
    thead {
      background-color: #6c7ae0;
      color: #ffffff;
      th {
        cursor: pointer;
      }
      th:first-child {
        width: 15%;
      }
    } 
  }

  &__download {
    button {
      background-color: #6c7ae0;
      color: #ffffff;
      &:hover {
        background-color: #5465e4;
        color: #ffffff;
      }
    }
  }

  &__pagination {
    .page-item.active a {
      background-color: #6c7ae0;
      border-color: #6c7ae0;
    }  
    .page-item a {
      color: #6c7ae0;
      outline: none;
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }
}